*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color:#063e56;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    color: white;
}
a{
    font-size: 30px;
    text-decoration: none;
    color: white;
}
a:hover{
    color: rgb(139, 139, 208);

}
body{
    background-color: #021526;
    margin:0;
    height: 100vh;
    position: relative;
}
img{
    height: 650px;
    width: 30%;
    margin-left: 50px;
    margin-top: 15px;
    border: 7px solid rgb(108, 171, 14);

}
p{
    color: black;
    font-family: "Poppins";
    font-style: italic;
    font-size: 24px;
    margin-top: -610px;
    background-color: #f1faee;
    width: 700px;
    border-radius: 1.5rem;
    padding: 20px;
    margin-left: 48%;
    line-height: 1.4;
    border: 7px solid blueviolet;
}
#btn{
    background-color: #f1faee;
    margin-left: 83%;
    border: 5px solid blueviolet;
    border-radius: 1rem;
    color:black;
    padding: 7px;
    font-size: 20px;
}
#btn:hover{
  transform: scale(1.05);
  box-shadow: 0 0 20px #8a2be2;
  transition: 0.3s ease;
}